
/* GENERAL */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
em {
	color: #4CAF50;
}
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
.container {
	width: 95%;
	margin: 0 auto;
	max-width: 820px;
	min-height: 100%;
    position:relative;
}

.col-2 {
	display: inline-block;
	width: 48%;
	vertical-align: middle;
}
.col-2-flex {
	width: 75%;
	margin: 0 auto;
	vertical-align: top;
}
@media (min-width: 740px){
	.col-1 {
		width: 75%;
		margin: 0 auto;
	}
	.col-2-flex {
		display: inline-block;
		width: 48%;	
	}
}


/* HEADER */

header {
	width: 100%;
	background-color: white;
	padding-bottom: 1em;
	border-bottom: 2px solid #E0E0E0;
}
header a {
	color: #404040;
	text-decoration: none;
}
h1 {
	display: block;
	font-size: 1.6em;
	height: 2.5em;
	max-width: 400px;
	color: #336600;

	background-image: url('../imgs/icons/logo.png');
	background-position: center;
	background-size: 100% 100%;
	color: transparent;
}
h2 {
	max-width: 400px;
	text-align: center;
	color: #336600;
	padding-bottom: 0.2em;
}

/* NAV */

.mobile_nav {
	text-align: center;
	width: 100%;
}
.pc_nav {
	display: none;
	float: right;
	margin: 1.5em 0 0;
}
nav {
	padding: .5em;
	text-align: center;
}
nav a {
	padding: 1.5em .75em;
	color: #a0a0a0;
}
nav a:hover {
	color: #202020;
	border-bottom: 3px solid #336600;
}
.selected {
	color: #202020;
}
.mobile_nav select {
	width: 90%;
	border: 1px solid #606060;
	padding: .3em;
	font-size: 1em
}

@media (min-width: 785px){
	.pc_nav {
		display: inline-block;
	}
	.mobile_nav {
		display: none;
	}
}

/* MAIN */

h3 {
	font-size: 1.5em;
	color: #336600;
	font-weight: bolder;
}
p {
	padding: .5em;
}
main {
	width: 100%;
	min-height: 70%;
	padding: 1em 0 6em;
}


@media (min-width: 785px){
	.limitedHeight {
		height: 100%;
		max-height: 100%;
		overflow: hidden;
	}
	.overflow-scroll {		
		overflow: scroll;
		height: 80%; 

	}
}



/* FOOTER */

footer {
	position:absolute;
	bottom:0;
	width: 100%;
	text-align: center;
	padding: 1em;
	background-color: white;
	border-top: 2px solid #E0E0E0;
}
footer a {
	padding: 1em;
}
.social_media_fb, .social_media_tw {
	width: 30px;
	height: 30px;
}


\